$color-background: hsla(0, 0%, 100%, 1);
$color-heading1: hsla(0, 0%, 18%, 1);
$color-heading2: hsla(236, 100%, 72%, 1);
$color-subheading: hsla(0, 0%, 43%, 1);
$color-services_subhead: #000860;

$topBar_links_normalFont: 1.25rem;
$heading_normalFont: 2.3rem;
$subheading_normalFont: 1.7rem;
$services_subheading-font: 1.8rem;

$color-whatsapp: #25d366;
$color-facebook: hsl(220, 46%, 48%);
$color-youtube: #ff0000;
$color-mail: #19c9f6;
$color-phone: #75eb6a;

.section_heading {
  text-align: center;
  color: $color-heading1;
  font-size: $heading_normalFont;
}
.section_subheading {
  text-align: center;
  color: $color-subheading;
  font-size: $subheading_normalFont;
}
/* .home_torontovideo {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: -1;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
} */
.torontoBg_Div{
  z-index: -1;
  display: flex;
  justify-content: center;
}
.home_bgToronto{
  z-index: -1;
  top: 9vh;
  object-fit: cover;
  width: 75%;
  position: absolute;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Top Bar */
.topbar_everything {
  border: none;
  z-index: 2;
}

.topbar_incredibleslogo {
  width: 13rem;
}

/* Home */
.home_data {
  text-align: center;
  overflow: hidden;
}

.home_heading {
  color: $color-heading1;
  font-size: 2.6rem;
  color: #000860;
}
.home_heading_highword {
text-align: right;
 background: linear-gradient(
    -45deg,
    $color-heading2,
    #000860,
    $color-heading2,
    #000860
  );
  background-size: 300%;
  font-size: 3.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: highword 5s ease-in-out infinite;
  -moz-animation: highword 5s ease-in-out infinite;
}
@keyframes highword {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
.home_subheading {
  color: $color-subheading;
  font-size: 2rem;
  color: #000860;
}
.btn-homeApply {
  background: transparent;
  border-radius: 10px;
  color: #111111;
  width: 15rem;
  margin: 2rem 0 2rem 0.5rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  align-content: center;
  align-items: center;
  text-align: center;
}

.social_icon_row{
  padding-top: 32%;
  -moz-padding-top: 34%;
}
.btn-homeSocial {
  font-size: 1.5rem;
}
.social_icon {
  transition: 0.2s linear;
  font-size: 1.5rem;
}
.facebook_icon {
  color: $color-facebook;
}
.instagram_icon {
  color: #f09433;
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.youtube_icon {
  color: $color-youtube;
}
.whatsapp_icon {
  color: $color-whatsapp;
}
.mail_icon {
  color: $color-mail;
}
.phone_icon {
  color: $color-phone;
}
.social_btn {
  padding: 1.4rem;
  display: inline-block;
  background: transparent;
  border-radius: 30%;
  box-shadow: none;
  overflow: hidden;
  position: relative;

  &:hover {
    border: 0 5px 8px -5px #00000070;
    .social_icon {
      transform: scale(1.2);
      color: #ffffff;
    }
    &::before {
      animation: socialIdentifier 0.7s 1;
      top: -10%;
      left: -10%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
}
.facebook_btn::before {
  background: $color-facebook;
}
.instagram_btn::before {
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.youtube_btn::before {
  background: $color-youtube;
}
.whatsapp_btn::before {
  background: $color-whatsapp;
}
.mail_btn::before {
  background: $color-mail;
}
.phone_btn::before {
  background: $color-phone;
}

@keyframes socialIdentifier {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.home_studyabroad_map_logo {
  width: 45vw;
}

/* Services */
.services_container {
  .services_row {
    margin-top: 14vh;
  }
  .services_cols {
    text-align: center;
  }
  .services_svg {
    width: 40vw;
  }
  .services_helpingicons {
    width: 80px;
    margin-left: -75%;
  }
  .services_services_points {
    color: $color-services_subhead;
    font-size: $services_subheading-font;
    align-content: center;
  }
  .services_listgroup > * {
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: translateX(2%) scale(1.1);
    }
  }
  .services_listgroup2 > * {
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: translateX(-2%) scale(1.1);
    }
  }
}

/* About */
.about_row {
  margin-top: 14vh;
}
.about_atinc{
  text-align: center;
  color: $color-services_subhead;
  font-size: 2.2rem;
}
.about_atinc_strong {
  transform: scale(.5, 2);
}
.about_p{
  width: 85%;
}
.about_atinc_desc{
  text-align: center;
  color: $color-services_subhead;
  font-size: 1.5rem;
  // width: 90%;
}
.about_svg{
width: 40vw;
}
.dir_div {
  display: grid;
margin-top: 15vh;
  grid-template-columns: 1fr 1fr;
}

//Testimonial

.testimonial_image{
  filter: blur(2.5px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: #000860;
  background-size: 100%, 100%;
  border: 1px solid transparent;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #000860;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000860;
}

.carousel-indicators [data-bs-target] {
  background-color: #000860 !important
}
.testimonial_results{
  object-fit: cover;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  filter: contrast(1.8) brightness(1.5) grayscale(1) blur(4.5px);
  width: 83%;
  height: 40%;
  z-index: -1;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.test_res{
color: #000860;
}
.connect_us_svg{
  width: 40vw;
}

/* Footer */
.footer_span{
  color: hsl(252, 3%, 28%);
  font-size: .9rem;
}

.footer_link {
  text-decoration: none;
}